@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    display:flex;
    background-color: black;
    background-repeat: repeat;
    background-size: 100%;
    font-size: 23px;
    font-family:Space Mono;
    font-weight: bold;
    color: aliceblue;
    margin :0;
    padding: 0;
    overflow: scroll;

}

#about{
    text-align: center;
    display: inline-block;
}
#my-spline{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        
}

